* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /*this allows you to define a custom color once and then use it easily through an entire project*/
  :root {
    --primary-color: white;
    --secondary-color: #2477BF;
    --tertiary-color: black;
    --foam: #91C4D9;
  }
  
  body {
    background-color: var(--tertiary-color);
    color: white;
    font-family: 'Prompt', sans-serif;
  }

  #myVideo {
    filter: brightness(40%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }


  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 999;
  }
  
  header h1 {
    font-weight: lighter;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header h1 a:hover {
    color: var(--foam);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    font-weight: 200;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    border-right: 0px;
    border-top: 0px;
    border-bottom: 5px;
    border-left: 0px;
    border-color: var(--secondary-color);
    border-style: solid;
    text-shadow: none;
  }


  /* HERO STYLES */
  .homepage-content {
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .hero-section {
    justify-content: center;
    font-size: xx-large;
  }

  .hero-content {
    height: 400px;
    width: 700px;
    margin: 0 auto;
  }

  .hero-btn {
    width: 100%;
    color: var(--secondary-color);
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-top: 20px;
    padding: 10px;
    border: 5px;
    border-style: solid;
    background-color: transparent;
    border-color: var(--secondary-color);
  }

  .hero-btn:hover {
    color: var(--foam);
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    padding: 10px;
    border: 5px;
    border-style: solid;
    background-color: transparent;
    border-color: var(--foam);
  }


  /* PROJECT STYLES */
  .projects {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project-1, .project-2, .project-3, .project-4 {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .img-container {
    float: left;
    width: 30%;
  }

  .project-stuff {
    float: right;
    width: 70%;
    text-align: left;
    padding-right: 50px;
  }

  .project-img {
    width: 55%;
  }
  
  .bio {
    padding: 25px;
    line-height: 1.3;
  }
  
  .bio h3 {
    font-size: 28px;
  }
  
  .bio h4 {
    font-weight: lighter;
    font-size: 22px;
    text-align: left;
    line-height: 100px;
  }
  
  .bio p {
    font-size: 17px;
  }















  /* FOOTER STYLES START */
footer {
    border-top: 5px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: var(--secondary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h4, p {
    font-size: 20px;
    margin: 0;
    text-align: left;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }
  /* END FOOTER STYLES */